/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: var(--color-dark1, #000028);
  --background-image: url("../images/cover-image-dark.png");
  --content-text-color:var(--color-purple2, #ff0070);
  --title-text-color: var( --color-purple1, #DB00FF);
  --title-text-shadow-color:var(--color-purple2, #ff0070);

  --title-text-content-color:var(--color-dark1, #000028);
  --title-bg-content-color:var( --color-purple2, #ff0070);
  --text-section:var(--color-pink2, #F1B2CE);



  /*
  
  --accent-color: #ff0070;
  --title-text-content-color: #000028;

*/

  --rec-decor-visibility: visible;
}






@media (prefers-color-scheme: dark) {

:root{
  --background-color:var(--background-color, #000028);
  --background-image: url("../images/cover-image-dark.png");
  --content-text-color:var(--color-purple2, #ff0070);

  --rec-decor-visibility: visible;

}


}