/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --title-text-color:  #DB00FF;
  --accent-color: #ff0070;
  --title-text-content-color: #000028;
  --content-text-color: #353430;
  --text-shadow-color:#FF0070;
  --text-section: #F1B2CE;
     background-color: var( --background-color);


}
.theme_dark .header  {
  background: url(../images/cover-image-dark.png), lightgray 50% / cover no-repeat;
color: var(--accent-color);
}

.theme_dark .header .header__theme-menu .header__theme-menu-list .header__theme-menu-button {
  background:none;
  color: var(--accent-color);
}

.theme_dark .header .header__theme_content-title,
.theme_dark .footer .header__theme_content-title{
  color: var( --title-text-color, #FFC2E6);
  text-shadow: 4px 4px 0px var(--text-shadow-color);
  }

  .theme_dark .header .header__theme_text_content{
    background:var(--accent-color);
    color: var(--title-text-content-color);
  }

  .theme_dark .main .main_section .main_title_text{
    color: var(--accent-color);
}

.theme_dark .main .main_section .main_section_part .main_content_text{
  color:var(--text-section);
  
}
.theme_dark .main .main_section .main_section_part .title-decor{

  color:  var(--title-text-content-color);
  background: var(--text-shadow-color);
}

.theme_dark .main .main_section .main_section_part .main_content_text .link_text{
  text-shadow: 4px 4px 0px 4px var(--accent-color);
  }




@media (prefers-color-scheme: dark) {

.page.theme_dark{
  background-color:var(--background-color, #000028);
  color: var(--accent-color);
}

.header  {
  background: url(../images/cover-image-dark.png), lightgray 50% / cover no-repeat;

}
}