/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --sm: 375px;
  --md: 768px;
  --lg: 1024px;

  --text-font: "IBM Plex mono";
  
}


@media (max-width: var(--md)) {}
@media ( width  <= var(--md)) and (width < var(--lg)) {}
@media (min-width: var(--lg)) {}